# Caso de Estudio AIR BNB NEW YORK

In [ ]:
# Seccion donde se importara las librerias utilizadas en este estudio
import pandas as pd

In [ ]:
# Definicion del dataframe utilizando pandas
AB_df = pd.read_csv(r'.\Utils\archive\AB_NYC_2019.csv')
AB_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [11]:
AB_df.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48879,4.889500e+04,48874,48895,48895,48895.000000,48895.000000,48895,48895.000000,48895.000000,48895.000000,38843,38843.000000,48895.000000,48895.000000
unique,NaN,47905,NaN,11452,5,221,NaN,NaN,3,NaN,NaN,NaN,1764,NaN,NaN,NaN
top,NaN,Hillside Hotel,NaN,Michael,Manhattan,Williamsburg,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2019-06-23,NaN,NaN,NaN
freq,NaN,18,NaN,417,21661,3920,NaN,NaN,25409,NaN,NaN,NaN,1413,NaN,NaN,NaN
mean,1.901714e+07,NaN,6.762001e+07,NaN,NaN,NaN,40.728949,-73.952170,NaN,152.720687,7.029962,23.274466,NaN,1.373221,7.143982,112.781327
std,1.098311e+07,NaN,7.861097e+07,NaN,NaN,NaN,0.054530,0.046157,NaN,240.154170,20.510550,44.550582,NaN,1.680442,32.952519,131.622289
min,2.539000e+03,NaN,2.438000e+03,NaN,NaN,NaN,40.499790,-74.244420,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000
25%,9.471945e+06,NaN,7.822033e+06,NaN,NaN,NaN,40.690100,-73.983070,NaN,69.000000,1.000000,1.000000,NaN,0.190000,1.000000,0.000000
50%,1.967728e+07,NaN,3.079382e+07,NaN,NaN,NaN,40.723070,-73.955680,NaN,106.000000,3.000000,5.000000,NaN,0.720000,1.000000,45.000000
75%,2.915218e+07,NaN,1.074344e+08,NaN,NaN,NaN,40.763115,-73.936275,NaN,175.000000,5.000000,24.000000,NaN,2.020000,2.000000,227.000000
max,3.648724e+07,NaN,2.743213e+08,NaN,NaN,NaN,40.913060,-73.712990,NaN,10000.000000,1250.000000,629.000000,NaN,58.500000,327.000000,365.000000

In [7]:
AB_df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

## Descripcion
En este punto se hace una descripcion de las variables que componen el set de datos AB_NYC_2019.csv

El set de datos AB_NYC_2019.csv se compone de 48.895 regitros con 16 variables(columnas) cada columna tiene las siguientes caracterisiticas:

- id: variable cualitativa nominal
- name: variable cualitativa nominal
- host_id: variable cualitativa nominal
- host_name: variable cualitativa nominal
- neighbourhood_group: cualitativa nominal
- neighbourhood: cualitativa nominal
- latitude: variable cuantitativa continua
- longitude: variable cuantitativa continua
- room_type: variable cualitativa ordinal
- price: variable cuantitativa continua - Rango ($ 0 a $ 10.000)
- minimum_nights: variable cuantitativa discreta - Rango (1 a 1.250)
- number_of_reviews: variable cuantitativa discreta - Rango (0 a 629)
- last_review: variable cualitativa ordinal
- reviews_per_month: variable cuantitativa continua - Rango (0.01 a 58.5)
- calculated_host_listings_count: variable cuantitativa discreta - Rango (1 a 327)
- availability_365: variable cuantitativa discreta - Rango (0 a 365)

## Preguntas del negocio

1. ¿Cual es la variable o caracteristica mas relevante para determinar el precio de un hospedaje en Airbnb?
2. ¿Que tanto afecta la ubicacion al precion de un hospedaje?
3. ¿cual es el sector mas costoso?
4. ¿Cual es el barrio menos costoso?
5. ¿Los hospedajes con super host son significativamente mas costosos?